<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<context-param>
			<param-name>imagepath</param-name>
			<param-value>C:\Users\xvpow\JavaWebClass\20201212\Ch13_2_TestContextListener\WebContent\images</param-value>
	</context-param>
		<listener>
			<listener-class>tw.com.web.TestContextListener</listener-class>
		</listener>
</web-app>
